<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/headRegister.ejs", { title: `InstaJobs - Register`}) %>

<body>
  <%- include("../partials/navbar.ejs") %>

  <div class="container-fluid py-5">
    <div class="container">

      <h1 class="text-center mb4">Register</h1></br>
      <p>Please fill in this form to create an account.</p>

      <form action="/register" method="POST">
        <div class="container">

          <% if (errors) { %>
            <p style="color: red;">
                <% JSON.stringify(errors).slice(1, JSON.stringify(errors).length-1).split(',').map(el=>{ %>
                    <%= el %> <br>
                <% })%>
            </p>
          <% } %>
        

          <form action="/register" method="POST">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" ><br>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" ><br>
      
          <label for="role"><b>Role</b></label><br>

          <select name="role" id="role">
            <option selected disabled value="">--SELECT ONE --</option>
            <option value="applicant">Applicant</option>
            <option value="recruiter">Recruiter</option>
          </select>

          
          <hr>
      
          <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
          <button type="submit" class="registerbtn">Register</button>
        </form>
        </div>
      
        <div class="container signin">
          <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
      </form>
    </div>
  </div>
  
</body>
</html>


