<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" style="color:white;"><span class="text-danger">Insta</span>Jobs</a>
        <div class="navbar" style="color: white;">
            <a class="nav-link active" aria-current="page" href="/">Home</a></div>
        </div>
        <div class="navbar" style="color: white; margin-right: 20px;">
            <a class="nav-link" href="/register">Register</a>
        </div>
        <div class="navbar" style="color: white; margin-right: 20px;">
            <a class="nav-link" href="/login">Log in</a>
        </div>

        <div class="navbar" style="color: white; margin-right: 20px;">
            <a href="/logout">Log out</a>
        </div>
    </div>
</nav>