<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
</head>
<body>
    <h1>Add new job</h1>
    <form action="/manageJob/<%=CompanyId%>/addJob" method="post">
        <label for="title">Title</label><br>
        <input type="text" name="title"><br>
        <label for="vacancy">Vacancy</label><br>
        <input type="number" name="vacancy"><br>
        <label for="requirement">Requirement</label><br>
        <input type="text" name="requirement"><br>
        <label for="salary">Salary</label><br>
        <input type="number" name="salary"><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>