<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Job</title>
</head>
<body>
    <p><%= JSON.stringify(result) %> </p>
    <h1>Edit job</h1>
    <form action="/manageJob/<%= result.CompanyId %>/editJob/:id" method="post"></form>
</body>
</html>